{% extends 'core/empty_admin.html.twig' %}
{% block scripts %}
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <script>
        $(document).ready( function () {
            $('.fullTable').DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                ]
            });

            var ordersData = {
                labels: [
                    'Ukonczone zlecenia',
                    'Trwające zlecenia',
                ],
                datasets: [
                    {
                    data: [{{orders["allOrders"] - orders["notCompletedOrders"]}}, {{orders["notCompletedOrders"]}}],
                    backgroundColor : ['#f56954', '#00a65a'],
                    }
                ]
            }

            const chartOneData = {
                labels: [], 
                datasets: [{
                    label: 'Koszty',
                    data: [{{costAndIncome["cost"]}}],
                    backgroundColor: [
                    '#f56954',
                    ]
                },
                {
                    label: 'Podatek',
                    data: [{{costAndIncome["tax"]}}],
                    backgroundColor: [
                    '#00a65a',
                    ]
                },
                {
                    label: 'Przychód Brutto',
                    data: [{{costAndIncome["income_brutto"]}}],
                    backgroundColor: [
                    '#f39c12',
                    ]
                },
                {
                    label: 'Zarobek',
                    data: [{{ costAndIncome["income_brutto"] - costAndIncome["cost"]}}],
                    backgroundColor: [
                    '#00c0ef',
                    ]
                }
                ]
            }

            var barChartOptions = {
                responsive              : true,
                maintainAspectRatio     : false,
                datasetFill             : false
            }
            new Chart($('#pieChart1').get(0).getContext('2d'), {
                type: 'bar',
                data: chartOneData,
                options: barChartOptions
            })



            var pieOptions     = {
                maintainAspectRatio : false,
                responsive : false,
            }
            new Chart($('#pieChart2').get(0).getContext('2d'), {
                type: 'pie',
                data: ordersData,
                options: pieOptions
            })
        });
    </script>
{% endblock %}
{% block mainContent %}
    {% set states ={
        1: 'do naprawy',
        2: 'trwa naprawa',
        3: 'zakończono',
        4: 'konsultacja z klientem',
        5: 'przerwano'
    } %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Ekonomia</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <canvas id="pieChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Zlecenia</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
    </div>
</div>

<div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Twoje zadania</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover fullTable" >
                <thead>
                {% set table_header %}
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Stan</th>
                        <th>Data przyjęcia</th>
                        <th>Akcje</th>
                    </tr>
                {% endset %}
                {{ table_header }}
                </thead>
                <tbody>
                {% for s in activeServices %}
                    <tr class="expandable-table" aria-expanded="false">
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.description }}</td>
                        <td>{{ states[s.state] }}</td>
                        <td>{{ s.repairOrder.orderedAt|date('Y-m-d') }}</td>
                        <td>
                            <div class="btn-group">
                                <a type="button" class="btn btn-default " href="{{ path('admin_order_edit', {id: s.repairOrder.id}) }}">Przejdź do zlecenia</a>
                                <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" role="menu" style="">
                                    <a class="dropdown-item text-warning" href="{{ path('admin_service_close', {id: s.id}) }}">Zakończ</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                {{ table_header }}
                </tfoot>
            </table>
        </div>
    </div>

<div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Zadania bez przydzielonych pracowników</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover fullTable" >
                <thead>
                {% set table_header %}
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Stan</th>
                        <th>Data przyjęcia</th>
                        <th>Akcje</th>
                    </tr>
                {% endset %}
                {{ table_header }}
                </thead>
                <tbody>
                {% for s in seWW %}
                    <tr class="expandable-table" aria-expanded="false">
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.description }}</td>
                        <td>{{ states[s.state] }}</td>
                        <td>{{ s.repairOrder.orderedAt|date('Y-m-d') }}</td>
                        <td>
                            <div class="btn-group">
                                <a type="button" class="btn btn-default " href="{{ path('admin_order_edit', {id: s.repairOrder.id}) }}">Przejdź do zlecenia</a>
                                <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" role="menu" style="">
                                    <a class="dropdown-item text-warning" href="{{ path('admin_service_setMe', {id: s.id}) }}">Przydziel</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                {{ table_header }}
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}