{% block date_picker_widget %}
<div class="input-group date datepickerType" id="{{ id }}" data-target-input="nearest">
    <input type="text" name="{{ full_name }}" value="{{ value }}"  class="form-control datetimepicker-input"
           data-toggle="datetimepicker" data-target="#{{ id }}" {% if disabled == true %} disabled {% endif %}/>
    <div class="input-group-append" data-target="#{{ id }}" data-toggle="datetimepicker" >
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
</div>
{% endblock %}