{% extends 'core/empty_admin.html.twig' %}
{% block title %}Stanowiska pracy{% endblock %}

{% block mainContent %}

    <div class="card">
    <div class="card-header">
        <h3 class="card-title">Edycja stanowiska pracy</h3>
    </div><!-- /.card-header -->
    {{ form_start(worker_form) }}
    <div class="card-body">
        <div class="form-group">
            {{ form_label(worker_form.name) }}
            {{ form_widget(worker_form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(worker_form.min_earnings) }}
            {{ form_widget(worker_form.min_earnings, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(worker_form.description) }}
            {{ form_widget(worker_form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        {% set formErrors = worker_form.vars.errors.form.getErrors(true) %}
        {% if formErrors|length %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Błędy w formularzu</h5>
                <ul>
                    {% for error in formErrors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="card-footer">
        {{ form_widget(worker_form.submit, {'attr': {'class': 'btn btn-primary float-right'}}) }}
    </div>
    {{ form_end(worker_form) }}
{% endblock %}